.container {
    margin-top: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .search-Box {
        width: 60%;
        height: 1.9rem;
        border: none;
        border-bottom: 1px solid #1d1c1c;
        background: transparent;
    }
}

